@import "~styles/root";

.app-post-details{
    margin:20px 0;

    &__edit-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:white;
        width: 500px;
        height:250px ;
        &__inner{
            display: flex;
            width: 550px;
            height: 350px;
            background-color: white;

        }
        
    }
     
    &__input{
        display:block;
        width: 480px;
        height: 100px;
        background-color:white;
        
    }

}