  
@import "~styles/root";

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-size;
  background-color: rgba(241, 158, 204, 0.863);
  box-shadow: 1px 1px 5px rgb(66, 63, 63);
  display: flex;

  justify-content: center;
  align-items: center;
  @include media(mobile){
    background-color: rgb(170, 150, 125);;
  }
  ul{
    display:flex;
    li{
      margin:0 70px;
   a{
     text-decoration: none;
     &:hover{
      font-size: 20px;
      }
    }
    }
  }
}